#DetailsBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  height: 90vh;
  /* border: 2px solid; */
}
#DetailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
table,
th,
td {
  border: 1px solid black;
}
td {
  width: 220px;
}
#Headings {
  font-weight: bold;
}
#pay {
  margin-top: 20px;
}
