#PaymentBody {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  height: 100vh;
  background-color: rgb(220, 236, 241);
}

#PaymentContainer {
  width: 70%;
  height: 90%;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
}

#PaymentLeftBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  background-color: #22c4f9;
  border-radius: 20px 0 0 20px;
}

#imgContainer {
  height: 70%;
}

#PaymentRightBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-left: 2px solid #0099ff;
  height: 100%;
  width: 50%;
  background-color: white;
  border-radius: 0 20px 20px 0;
}

#svg {
  border-radius: 0 20px;
}

#svg2 {
  border-radius: 20px 0;
}

.paymentForm {
  width: 80%;
  box-shadow: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

#submit {
  background-color: royalblue;
  color: white;
}

#para {
  padding-top: 10px;
  padding-bottom: 15px;
}

@media only Screen and (max-width: 1000px) {
  #PaymentContainer {
    width: 80%;
  }
}

@media only Screen and (max-width: 840px) {
  #PaymentContainer {
    width: 90%;
  }
}

@media only Screen and (max-width: 700px) {
  #PaymentContainer {
    width: 100%;
  }
}

@media only Screen and (max-width: 600px) {
  #PaymentContainer {
    flex-direction: column;
    width: 70%;
  }

  #PaymentLeftBox {
    height: 0px;
    width: 0px;
  }

  #PaymentRightBox {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 20px;
  }

  #svg {
    border-radius: 20px;
  }

  #svg2 {
    border-radius: 20px;
  }
}

@media only Screen and (max-width: 450px) {
  #PaymentContainer {
    width: 90%;
  }
}