#SignupBody {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  height: 100vh;
  background-color: rgb(220, 236, 241);
}

#SignupContainer {
  width: 70%;
  height: 90%;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

#SingupLeftBox {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 50%;
  background-color: white;
  border-radius: 20px 0 0 20px;
}

#imgContainer {
  height: 70%;
}

#SingupRightBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-left: 2px solid rgb(198, 196, 196);
  height: 100%;
  width: 50%;
  background-color: white;
  border-radius: 0 20px 20px 0;
}

#svg {
  border-radius: 0 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

#submit {
  background-color: royalblue;
  color: white;
}

#para {
  padding-top: 10px;
}

@media only Screen and (max-width: 1000px) {
  #SignupContainer {
    width: 80%;
  }
}

@media only Screen and (max-width: 840px) {
  #SignupContainer {
    width: 90%;
  }
}

@media only Screen and (max-width: 700px) {
  #SignupContainer {
    width: 100%;
  }
}

@media only Screen and (max-width: 550px) {
  #SignupContainer {
    flex-direction: column;
    width: 70%;
  }

  #SingupLeftBox {
    height: 0px;
    width: 0px;
  }

  #SingupRightBox {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 20px;
  }

  #svg {
    border-radius: 20px;
  }
}

@media only Screen and (max-width: 450px) {
  #SignupContainer {
    width: 90%;
  }
}